<%- include('header') %>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <br>
    <h4>Nova vaga: <a href="/admin/vagas/nova"><i class="far fa-plus-square"></i></a></h4>
    <br>
    <div>
        <ul>
            <% vagas.forEach( vaga => { %>
            <li>
                <%- vaga.titulo %> |
                <a href="/admin/vagas/delete/<%- vaga.id %>"><i class="fas fa-trash"></i></a>
                <a href="/admin/vagas/editar/<%- vaga.id %>"><i class="fas fa-edit"></i></a>    
            </li>
            <% }) %>
        </ul>
    </div>

<%- include('footer') %>
